<% layout("layouts/boilerplate") %>

    <body>
        <main>
            <div class="hero position-relative">
                <div class="card-img-overlay custom-gradient"></div>
                <img class="hero-image" src="./images/heroSection.jpg" alt="">
                <div class="container position-absolute top-50 start-50 translate-middle text-white text-center">
                    <p class="fw-xl title fs-xxl">Experience Unrivaled <i class="c-gold fw-bolder">Luxury</i></p>
                    <p class="fs-5 fw-xl" style="color: #fafafa;">Discover handpicked sanctuaries of elegance,
                        curated for the modern
                        traveler.</p>
                    <div class="g-0 p-2 search row bg-white rounded-pill ai-center">
                        <div class="d-flex round ai-center rounded-start-pill search-item p-2 col-lg-3 col-md-3 col-12">
                            <i class="fa-solid fa-location-dot fa-lg ms-4 my-auto" style="color: #C9A96E;"></i>
                            <div class="text-start d-flex flex-column jc-center ms-3 overflow-hidden">
                                <p class="text-uppercase m-0 fs-small fw-bold" style="color: gray;">location</p>
                                <form method="post" id="search-form" action="/listings/country" class="me-1"
                                    role="search">
                                    <input class="bg-light search-inp fw-bolder" name="country" type="search"
                                        placeholder="Where are you going?" aria-label="Search" />
                                </form>
                            </div>
                        </div>
                        <div class="d-flex ai-center search-item py-2 col-lg-3 col-md-3 col-12 px-3">
                            <!-- <input type="date" name="date" id="date" class="date-box"> -->
                            <i class="fa-regular fa-calendar fa-lg ms-3 my-auto" style="color: #c9a96e;"></i>
                            <div class="text-start d-flex flex-column jc-center ms-3">
                                <p class="text-uppercase m-0 fs-small fw-bold" style="color: gray;">dates</p>
                                <p class="text-black fs-small fw-bolder m-0">Add Dates</p>
                            </div>
                        </div>
                        <div class="d-flex ai-center search-item py-2 col-lg-3 col-md-3 col-12 px-3">
                            <i class="fa-solid fa-users fa-lg ms-3 my-auto" style="color: #c9a96e;"></i>
                            <div class="text-start d-flex flex-column jc-center ms-3">
                                <p class="text-uppercase m-0 fs-small fw-bold" style="color: gray;">Guests</p>
                                <p class="text-black fs-small fw-bolder m-0 text-nowrap">2 adults, 1 room</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-12">
                            <button form="search-form" class="btn rounded-pill px-4 py-3 search-btn w-100"
                                type="submit"><i class="fa-solid fa-magnifying-glass me-2"></i>
                                <b class="fs-5">Search</b></button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color: #f5f5f5;">
                <section class="properties">
                    <p class="c-gold fs-s">CURATED&nbsp;&nbsp; COLLECTIONS</p>
                    <div class="d-flex jc-between ai-center mb-5">
                        <h2 class="fw-lighter">Featured Properties</h2>
                        <a id="all" href="/listings">View All Hotels</a>
                    </div>
                </section>
                <div class="container">
                    <div class="row justify-content-evenly mb-5 pb-4">
                        <% let arr=[] %>
                            <% while(allListing.length > 0 && arr.length < 3) {%>
                                <% let curr=Math.floor(Math.random() * allListing.length); %>
                                    <% if(!arr.includes(curr)) arr.push(curr); %>
                                        <% } %>
                                            <% for( let i of arr ) { %>
                                                <div class="card col-lg-3 col-md-5 col-sm-12 property-card m-2"
                                                    style="width: 25rem; background-color: #fff ;">
                                                    <div class="wrap-img overflow-hidden">
                                                        <img src="<%= allListing[i].image.url %>"
                                                            class="card-img-top c-img" alt="<%= allListing[i].title %>">
                                                    </div>
                                                    <div class="card-body m-4 home-card">
                                                        <div class="d-flex mb-3 location fs-small ai-start">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                                height="18" viewBox="0 0 24 24" style="color: gray;"
                                                                fill="none" stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="lucide fw-lighter lucide-map-pin w-4 h-4 mr-1">
                                                                <path
                                                                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0">
                                                                </path>
                                                                <circle cx="12" cy="10" r="3"></circle>
                                                            </svg>
                                                            <p class="card-text ml-2 fw-lighter" style="color: gray;">
                                                                <%= allListing[i].location %>, <%= allListing[i].country
                                                                        %>
                                                            </p>
                                                        </div>
                                                        <h5 class="card-title fw-bold">
                                                            <%= allListing[i].title %>
                                                        </h5>
                                                        <hr class="my-3" style="color: gray;">
                                                        <div class="d-flex jc-between ai-center">
                                                            <p class="card-text fs-small text-uppercase">
                                                                Starting from <br>
                                                                <b class="fs-6">&#8377; <%=
                                                                        allListing[i].price.toLocaleString("en-IN") %>
                                                                </b> /
                                                                night
                                                            </p>
                                                            <div class="text-end b-btn">
                                                                <a href="/listings/<%= allListing[i].id %>"
                                                                    class="listing-link btn btn-primary"
                                                                    style="background-color: #0B1D26; border: none;">Book
                                                                    Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <% } %>
                    </div>
                </div>
                <section class="accomodation" style="background-color: #fff;">
                    <div class="container py-5 d-flex ai-center jc-center flex-column w-50 text-center">
                        <p class="c-gold fs-s my-4">ACCOMODATIONS</p>
                        <h1 class="fs-2 fw-xl mb-4">Exquisite Spaces</h1>
                        <p class="fs-small" style="color: gray;">Experience unparalleled comfort in our
                            thoughtfully
                            designed rooms
                            and
                            suites,
                            where every detail is crafted for your relaxation.</p>
                    </div>
                    <div class="container">
                        <div class="row justify-content-evenly pb-5">
                            <% let a=[] %>
                                <% let limit=Math.min(3, allListing.length); %>
                                    <% while(allListing.length > 0 && a.length < limit) {%>
                                        <% let curr=Math.floor(Math.random() * allListing.length); %>
                                            <% if(!a.includes(curr)) a.push(curr); %>
                                                <% } %>
                                                    <% for( let i of a ) { %>
                                                        <div class="card col-lg-3 col-md-5 col-10 property-card m-2"
                                                            style="width: 25rem; background-color: #fff ;">
                                                            <div class="wrap-img overflow-hidden">
                                                                <img src="<%= allListing[i].image.url %>"
                                                                    class="card-img-top c-img"
                                                                    alt="<%= allListing[i].title %>">
                                                            </div>
                                                            <div class="card-body m-4 home-card">
                                                                <div class="mb-3  fs-small ai-start">
                                                                    <h5 class="card-title fw-bold">
                                                                        <%= allListing[i].title %>
                                                                    </h5>
                                                                    <p class="card-text fw-lighter ac-card-details"
                                                                        style="color: gray;">
                                                                        <%= allListing[i].description %>
                                                                    </p>
                                                                </div>
                                                                <hr class="my-3" style="color: gray;">
                                                                <div class="d-flex jc-between ai-center">
                                                                    <p class="card-text fs-small text-uppercase"><br>
                                                                        <b class="fs-6">&#8377; <%= allListing[i].price
                                                                                %>
                                                                        </b> /
                                                                        night
                                                                    </p>
                                                                    <div
                                                                        class="text-end details d-flex ai-center text-end c-gold fs-s">
                                                                        <a href="/listings/<%= allListing[i].id %>"
                                                                            class="text-decoration-none c-gold fs-s fs-6"
                                                                            style="border: none;">Details</a>
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            width="24" height="18" viewBox="0 0 24 24"
                                                                            fill="none" stroke="currentColor"
                                                                            stroke-width="2" stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            class="arrow lucide lucide-arrow-right w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
                                                                            <path d="M5 12h14"></path>
                                                                            <path d="m12 5 7 7-7 7"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                        </div>
                    </div>
                </section>
                <section class="pb-4" style="background-color: #0B1D26;">
                    <div class="container py-5 d-flex ai-center jc-center flex-column w-50 text-center">
                        <p class="c-gold fs-s my-4 text-uppercase">Exclusive Benefits</p>
                        <h1 class="fs-2 fw-xl mb-4 text-white">Special Offers</h1>
                    </div>
                    <div class="d-flex container jc-between pb-5">
                        <div class="row w-100 justify-content-evenly pb-5 m-auto">
                            <div class="o-card col-lg-5 col-md-12 col-sm-12 card text-bg-dark overflow-hidden p-0 mb-4">
                                <img src="./images/offer_1.jpg" class="card-img" alt="Tranquil Spa Retreat">
                                <div class="card-img-overlay bg-gradient"></div>
                                <div class="card-img-overlay c-overlay">
                                    <h3>Tranquil Spa Retreat</h3>
                                    <p class="card-text fs-small" style="color: #fafafa;">Book a suite for 3 nights and
                                        receive
                                        complimentary daily
                                        60-minute
                                        signature massages.</p>
                                    <a class="card-text text-decoration-none c-nav">Explore Offer</a>
                                </div>
                            </div>
                            <div class="o-card col-lg-5 col-md-12 col-sm-12 card text-bg-dark overflow-hidden p-0 mb-4">
                                <img src="./images/offer_2.jpg" class="card-img" alt="Culinary Journey">
                                <div class="card-img-overlay bg-gradient"></div>
                                <div class="card-img-overlay c-overlay">
                                    <h3>Culinary Journey</h3>
                                    <p class="card-text fs-small" style="color: #f5f5f5;">Experience a 5-course tasting
                                        menu
                                        crafted by our
                                        Michelin-starred
                                        chef, included with weekend stays.</p>
                                    <a class="card-text text-decoration-none c-nav">Explore Offer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section style="background-color: #f5f5f5;">
                    <div class="container py-5 d-flex ai-center jc-center flex-column w-50 text-center">
                        <p class="c-gold fs-s my-4 text-uppercase">Guest Experiences</p>
                        <h1 class="fs-2 fw-xl mb-4">Stories from Our Guests</h1>
                    </div>
                    <div class="container pb-5">
                        <div class="row w-100 justify-content-evenly m-auto">
                            <!-- From Uiverse.io by Yaya12085 -->
                            <% for(let i=0; author.length > 0 && i < author.length; i++) { %>
                                <div class="review-card col-lg-3 col-md-5 col-12 mb-5">
                                    <div class="d-flex jc-between">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                            viewBox="0 0 24 24" fill="none" stroke="rgba(0,0,0,0.2)" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-quote text-gray-200 w-10 h-10 mb-4">
                                            <path
                                                d="M16 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2 1 1 0 0 1 1 1v1a2 2 0 0 1-2 2 1 1 0 0 0-1 1v2a1 1 0 0 0 1 1 6 6 0 0 0 6-6V5a2 2 0 0 0-2-2z">
                                            </path>
                                            <path
                                                d="M5 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2 1 1 0 0 1 1 1v1a2 2 0 0 1-2 2 1 1 0 0 0-1 1v2a1 1 0 0 0 1 1 6 6 0 0 0 6-6V5a2 2 0 0 0-2-2z">
                                            </path>
                                        </svg>
                                        <div class="stars ai-center">
                                            <%= review[i].rating %>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                    fill="currentColor" class="star">
                                                    <path
                                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg>
                                        </div>
                                    </div>
                                    <div class="infos">
                                        <p class="date-time">
                                            <%= timeAgo(review[i].createdAt) %>
                                        </p>
                                        <p class="description fst-italic">
                                            <%= review[i].comment %>
                                        </p>
                                    </div>

                                    <div class="author fs-small">
                                        &horbar; <%= author[i] %>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>